[user]
	name = Jakub Jenis
	email = jakub.jenis@gmail.com
[core]
	autocrlf = input
[url "ssh://git@ssh.github.com:443/"]
	insteadOf = git@github.com:
[push]
	AutoSetupRemote = true
[color]
	ui = auto
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
